{% extends 'base/base.html' %}
{% load static %}

{% block title %} Category {% endblock %}
{% block content %}
    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->



    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                        <div class="search-product">
                            <form action="#">
                                <input class="form-control" placeholder="Search here..." type="text">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>











                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree"
                                 id="list-group-men">



                                {% for c in categories %}
                                    <div class="list-group-collapse">
                                        {% if c.parent == None %}
                                            <a class="list-group-item list-group-item-action"
                                               href="{{ c.get_absolute_url }}"
                                               data-toggle="collapse" aria-expanded="false">
                                                {{ c.name }}
                                            </a>
                                        {% endif %}

                                        <div class="collapse show" data-parent="#list-group-men">

                                            <div class="list-group">
                                                {% for c1 in categories %}
                                                    {% if c == c1.parent %}
                                                        <a href="#" class="list-group-item list-group-item-action">
                                                            {{ c1.name }}</a>
                                                    {% endif %}
                                                {% endfor %}

                                            </div>


                                        </div>
                                    </div>
                                {% endfor %}



                            </div>
                        </div>











                        <div class="filter-brand-left">
                            <div class="title-left">
                                <h3>Brand</h3>
                            </div>
                            <div class="brand-box">
                                <ul>
                                    {% for brand in products %}
                                        {% ifchanged brand.brand %}
                                            <li>
                                                <div class="radio radio-danger">
                                                    <input name="survey" id="Radios1" value="Yes" type="radio">
                                                    <label for="Radios1"> {{ brand.brand }} </label>
                                                </div>
                                            </li>
                                        {% endifchanged %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>




                    </div>
                </div>
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                                <div class="toolbar-sorter-right">
                                    <span>Sort by </span>
                                    <select id="basic" class="selectpicker show-tick form-control"
                                            data-placeholder="$ USD">
                                        <option data-display="Select">بدون فيلتر</option>
                                        <option value="1">محبوبيت</option>
                                        <option value="2">قيمت كم → قيمت زياد</option>
                                        <option value="3">قيمت زياد → قيمت كم</option>
                                        <option value="4">پرفروش ترين</option>
                                    </select>
                                </div>
                                <p>result: {{ products.count }} product</p>
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i
                                                class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i
                                                class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="row">


                                        {% for cat in shopproducts %}
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="sale">Sale</p>
                                                        </div>
                                                        <img src="{{ cat.product.image.url }}" class="img-fluid" alt="Image">
                                                        <div class="mask-icon">
                                                            <ul>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="View"><i class="fas fa-eye"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="Compare"><i
                                                                        class="fas fa-sync-alt"></i></a>
                                                                </li>
                                                                <li><a href="#" data-toggle="tooltip"
                                                                       data-placement="right"
                                                                       title="Add to Wishlist"><i
                                                                        class="far fa-heart"></i></a>
                                                                </li>
                                                            </ul>
                                                            <a class="cart" href="#">Add to Cart</a>
                                                        </div>
                                                    </div>
                                                    <div class="why-text">
                                                        <a href="{{ cat.product.get_absolute_url }}"><h4>{{ cat.product.name }}</h4></a>
                                                        <h5> {{ cat.price }}</h5>
                                                    </div>
                                                </div>
                                            </div>



                                        {% endfor %}


                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Shop Page -->

{% endblock %}